
html{
   height: 100%;
   width: 100%;
   margin: 0;
   padding:0;
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    background: linear-gradient(45deg, orange,pink);
}

#carrier{
    position:absolute;
    height:25%;
    width:40%;
    margin:auto;
    border-radius:0.5rem;
    top:0;
    bottom:0;
    left:0;
    right:0;
    box-shadow:5px 5px 20px black;
    background-color:lightgray;
    overflow-y:scroll;
    font-size:1.5rem;
    font-family:sans-serif;
    
    padding-left:10%;
   
    box-sizing:border-box;
    
}

.circleDiv{
    display:inline-block;
    /*color:green;*/
    color: transparent;
    font-weight:bold;
    height:2rem;
    width:2rem;
    border:1px solid gray;
    text-align:center;
    border-radius:50%;
}
.todoDiv{
    display:inline-block;
    opacity: 1;
    text-decoration: none
}

.circleDivCompleted{
    display:inline-block;
    color:green;
    font-weight:bold;
    height:2rem;
    width:2rem;
    border:1px solid gray;
    text-align:center;
    border-radius:50%;
}

.todoDivCompleted{
    display:inline-block;
    opacity: 0.3;
    text-decoration: line-through;
}