body{
    background-color: lightgray;
    color: white;
    font-family: no sans-serif;
}
#menu{
    width: 30%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    text-align: center;
    margin: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    height: 20%;
    background-color: teal;
}